* {
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14pt;
  background-color:"black";
}

ul,li{
  
  margin: 0px;
  padding: 0px;
  list-style:none;
}

.header {
  top: 0;
  width: 100%;
  height: 3.7rem;
  background:black;
  font-size: 2.3rem;
  overflow: clear;
  margin-bottom: 0px;
   border-bottom: .1px solid #006bb3;
}

.title{
   font-family: 'Coiny';
    color:#006bb3;
}

#screen{

  position: 
}



#player_1{

}

#player_2
{
	margin-top: -600px;
	margin-left: 648px;
}


.image{
    position: relative;
    width: 100%;
}


#game_title { 
   font-family: 'Coiny';
   font-size: 60px;
   color: #006bb3;
   position: absolute; 
   top: 150px; 
   left: 150px; 
   width: 100%; 
}

#options_list{
  position: absolute;
  top:275px;
  left:200px;
  width: 500px;
  text-align: center;
}

.options{
  font-size: 30px;
  font-family: 'Coiny';
  margin-top: 0px;
}


.button1 {
 
    color: black;
    border: 2px solid #4CAF50;
}

.opt:hover{
  color:#cccccc;
  font-size: 31px;
    text-shadow: 5px 5px 8px #002db3;
}

.opt{
  display: block;
  font-family: 'Coiny';
  color:#006bb3;
  background:none;
  border:none;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  width: 300px;
}

