* {
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14pt;
}

ul,li{
  
  margin: 0px;
  padding: 0px;
  list-style:none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 2.5rem;

  background:black;
  color: white;
  font-size: 1.25rem;
  overflow: clear;
}

.header .status {
  margin-top: 1.2rem;
  margin-right: 2rem;
  float: right;
}

.header .title {
  margin-top: 0.8rem;
  margin-left: 2rem;
}

#login_status {
  font-size: 0.8rem;
}

.content {
  position: fixed;
  top: 2.5rem;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
}

#login_section {
  text-align: center;
}

#room_section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0.5rem;
  border: 1px solid lightgray;
}

#inputs {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.25rem;
  background-color: lightgray;
}

#send_button {
  margin-top: 0.1rem;
  float: right;
}

#msg_input_wrapper {
  padding-right: 0.2rem;
  overflow: hidden;
}

#msg_input {
  width: 100%;
}

.msg_box {
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.msg_box:hover {
  background-color: lightblue;
}

.sender {
  font-weight: bold;
}

.said {
  color: blue;
}

.msg_content {
  font-size: 1rem;
}

.notification {
  color: darkgreen;
}

.error {
  color: red;
}

#phaser-example2
{
	margin-top: -600px;
	margin-left: 650px;
}


.image{
    position: relative;
    width: 100%;
}


#game_title { 
   font-family: 'Coiny';
   font-size: 60px;
   color: #006bb3;
   position: absolute; 
   top: 150px; 
   left: 150px; 
   width: 100%; 
}

#options_list{
  position: absolute;
  top:275px;
  left:200px;
  width: 300px;
  text-align: center;
}

.options{
  font-size: 30px;
  font-family: 'Coiny';
  margin-top: 0px;
}


.button1 {
 
    color: black;
    border: 2px solid #4CAF50;
}

.opt:hover{
  color:#cccccc;
  font-size: 31px;
    text-shadow: 5px 5px 8px #002db3;
}

.opt{
  display: block;
  font-family: 'Coiny';
  color:#006bb3;
  background:none;
  border:none;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  width: 300px;
}

